<!DOCTYPE html>
<html lang="en">

    <!-- Head -->
    <%- include("partials/head") %>

    <body>
        <div id="global-loader">
            <div class="whirly-loader"> </div>
        </div>
        
        <!-- Main Wrapper -->
        <div id="profile">
            <div class="main-wrapper">

            <!-- Header -->
            <%- include("partials/header") %>
    
                <div class="container" style="margin-top: 100px;">
                    <div class="content">
                        <div class="page-header">
                            <div class="page-title">
                                <h4>Profile</h4>
                                <h6>User Profile</h6>
                            </div>
                        </div>
                        <!-- /Profile list -->
                        <div class="card">
                            <div class="card-body">
                                <div class="profile-set">
                                    <div class="profile-head"></div>
                                    <form action="/m/profile-image" method="post" enctype="multipart/form-data">
                                        <div class="profile-top">
                                            <div class="profile-content">
                                                <div class="profile-contentimg">
                                                    <img src="assets/img/customer/customer5.jpg" alt="img" id="blah">
                                                    <div class="profileupload">
                                                        <input type="file" id="imgInp" required>
                                                        <a href="javascript:void(0);" ><img src="/img/icons/edit-set.svg"  alt="img"></a>
                                                    </div>
                                                </div>
                                                <div class="profile-contentname">
                                                    <h2 class="text-uppercase"><%= data.name %></h2>
                                                    <h4>Updates Your Photo and Personal Details.</h4>
                                                </div>
                                            </div>
                                            <div class="ms-auto">
                                                <button type="submit" class="btn btn-submit">Save</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <form action="/profile" method="post">
                                    <div class="row">
                                        <div class="col-lg-6 col-sm-12">
                                            <div class="form-group">
                                                <label>First Name</label>
                                                <input type="text" name="firstName" value="<%= data.firstName %>" placeholder="William">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-sm-12">
                                            <div class="form-group">
                                                <label>Last Name</label>
                                                <input type="text" name="lastName" value="<%= data.lastName %>" placeholder="William">
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-sm-12">
                                            <div class="form-group">
                                                <label>Phone</label>
                                                <input type="text" name="phone" value="<%= data.phone %>" placeholder="+1452 876 5432">
                                                <input type="text" name="old_phone" value="<%= data.phone %>" style="display: none;">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-sm-12">
                                            <div class="form-group">
                                                <label>New Password <span style="color: silver;">(OPTIONAL)</span></label>
                                                <div class="pass-group">
                                                    <input type="password" id="newPassword" value=" " name="newPassword" class="pass-input">
                                                    <span class="fas toggle-password fa-eye-slash"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-sm-12">
                                            <div class="form-group">
                                                <label>Confirm Password <span style="color: silver;">(OPTIONAL)</span></label>
                                                <div class="pass-group">
                                                    <input type="password" id="confirmPassword" value=" " name="confirmPassword" class="pass-input">
                                                    <span class="fas toggle-password fa-eye-slash"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-sm-12">
                                            <div class="form-group">
                                                <label>Current Password <span style="color: silver;">(OPTIONAL)</span></label>
                                                <div class="pass-group">
                                                    <input type="password" id="currentPassword" value=" " name="currentPassword" class="pass-input">
                                                    <span class="fas toggle-password fa-eye-slash"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <button type="submit" class="btn btn-submit">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- /Profile list -->
                    </div>
                </div>
            </div>
        </div>
        <!-- /Main Wrapper -->

        <!-- Script -->
        <%- include("partials/script") %>

        <!-- Script -->
        <%- include("partials/flash") %>
        
        <!-- Script -->
        <%- include("partials/footer") %>

    </body>
</html>