<!DOCTYPE html>
<html lang="en">
<%- include("partials/head.ejs") %>

    <body class="account-page">
        <!--  -->
        <div id="global-loader">
            <div class="whirly-loader"> </div>
        </div>

        <!-- Main Wrapper -->
        <div class="main-wrapper">
            <div class="account-content">
                <div class="login-wrapper align-center">
                    <div class="login-content align-center">
                        <div class="login-userset">
                            <a href="#" class="login-logo logo-white">
                                <img src="/assets/img/logo.png" alt=""
                                    style="align-content: center; width: 350px; height: 100px;">
                            </a>
                            <div class="login-userheading text-center">
                                <div class="container">
                                    <img src="/assets/img/logo.png" alt="img"
                                        style="align-content: center; width: 350px; height: 100px;">
                                </div><br>
                                <h2 class="" style="font-weight: bold;">Online Sales Control Unit</h2><br>
                            </div>
                            <div class="login-userheading">
                                <h3>Reset Password</h3>
                            </div>
                            <form action="/reset-password" method="post">
                                <div class="form-login">
                                    <label class="bg-light">Password</label>
                                    <div class="pass-group">
                                        <input type="password" name="password" 
                                            class="pass-inpu bg-light" placeholder="Enter your password">
                                        <span class="fas toggle-password fa-eye-slash"></span>
                                    </div>
                                </div>
                                <div class="form-login">
                                    <label class="bg-light">Confirm Password</label>
                                    <div class="pass-group">
                                        <input type="password" name="confirmPassword" 
                                            class="pass-inputs bg-light" placeholder="Enter your password">
                                        <span class="fas toggle-passwords fa-eye-slash"></span>
                                    </div>
                                </div>
                                <input name="token" style="display: none;" value="<%= data.token %>">
                                <div class="form-login float-right">
                                    <button type="submit" class="btn btn-login"><span
                                            class="fas fa-sign-in-alt"></span>&nbsp;Reset Password</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- /Main Wrapper -->
        <%- include("partials/script.ejs") %>

        <!-- Flash -->
        <%- include("partials/flash.ejs") %>
        
        <!-- Script -->
        <%- include("partials/footer") %>
        
    </body>

</html>