<!DOCTYPE html>
<html lang="en">

    <!-- Head -->
    <%- include("../partials/head") %>

    <body>
        <div id="global-loader" >
            <div class="whirly-loader"> </div>
        </div>
        <!-- Main Wrapper -->
        <div class="main-wrapper">

            <!-- Header -->
            <%- include("../partials/header") %>

            <div class="page-wrapper">
                <div class="content">
                    <div class="page-header">
						<div class="row">
							<div class="col">
								<h3 class="page-title">Office</h3>
							</div>
						</div>
					</div>
                    <div class="row">
						<div class="col-lg-2 col-md-12">
							<ul class="inbox-menu">
								<li class="active">
									<a href="/s/devices"><i class="fas fa-print"></i>Devices</a>
								</li>
								<li>
									<a href="/s/users"><i class="fas fa-users"></i>Users</a>
								</li>
								<li>
									<a href="/s/customers"><i class="fas fa-users"></i>Customers</a>
								</li>
								<li>
									<a href="/s/office"><i class="fas fa-home"></i>Office</a>
								</li>
							</ul>
						</div>
						
						<div class="col-lg-10 col-md-12">
							<div class="card bg-white">
								<div class="card-body">
                                    <!--  -->
                                    <div class="table-top">
                                        <div class="search-set"></div>
                                        <div class="wordset">
                                            <ul>
                                                <li>
                                                    <button data-bs-toggle="modal" data-bs-target="#modalAddOffice"
                                                        class="btn btn-sm bg-success text-white">&plus; Add Office
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div><br>
									<div class="email-content">
										<div class="table-responsive">
											<table class="table table-inbox table-hover offices">
                                                <thead>
                                                    <tr>
                                                        <th>Head (Full Name)</th>
                                                        <th>Head (Phone Number)</th>
                                                        <th>Office Location</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
												<tbody>
                                                    <%
                                                        let office = data["office"];
                                                        for(let o in office){ 
                                                    %>
                                                        <tr class="unread clickable-row">
                                                            <td class=""><%= office[o]['fullName'] %></td>
                                                            <td class=""><%= office[o]['phoneNumber'] %></td>
                                                            <td class=""><%= office[o]['locationAddress'] %></td>
                                                            <td class=""></td>
                                                        </tr>
                                                    <% } %>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
                </div>
            </div>
        </div>
        <!-- /Main Wrapper -->

        <!-- Modal add device -->
        <div class="modal fade" id="modalAddOffice" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add Office</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!--  -->
                        <form action="/s/add-office" method="post">
                            <div class="row">
                                <!--  -->
                                <div class="form-group">
                                    <label>Head (Full Name) <span class="text-danger">&nbsp;*</span></label>
                                    <input type="text" name="head" placeholder="Full name.." required>
                                </div>
                                <!--  -->
                                <div class="form-group">
                                    <label>Head (Phone Number) <span class="text-danger">&nbsp;*</span></label>
                                    <input type="text" name="phoneNumber" placeholder="Phone number.." required>
                                </div>
                                <!--  -->
                                <div class="form-group">
                                    <label>Location (City) <span class="text-danger">&nbsp;*</span></label>
                                    <select class="form-control" name="cityId" required>
                                        <option value="" disabled selected>*** Choose City ***</option>
                                        <% 
                                            let cities = data["cities"];
                                            for(let i in cities) {
                                        %>
                                            <option class="text-uppercase" value="<%= cities[i]['id'] %>"><%= cities[i]['city'] %></option>            
                                        <% } %>
                                    </select>    
                                </div>
                                <!--  -->
                                <div class="form-group">
                                    <label>Location (Address)<span class="text-danger">&nbsp;*</span></label>
                                    <input type="text" name="locationAddress" placeholder="Kimara, Dar es salaam.." required>
                                </div>
                                <!--  -->
                                <div class="form-group">
                                    <button type="submit" class="btn btn-submit form-control">Submit</button>
                                </div>
                                <!--  -->
                                <input name="customerId" id="customerId" style="display: none">
                            </div>
                        </form>
                        <!--  -->
                    </div>
                </div>
            </div>
        </div>

        <!-- Script -->
        <%- include("../partials/script") %>

        <!-- Script -->
        <%- include("../partials/flash") %>
        
        <!-- Script -->
        <%- include("../partials/footer") %>

        <script>
            $('.offices').DataTable({
                "bFilter": true,
                "sDom": 'fBtlpi',  
                'pagingType': 'numbers', 
                // "ordering": true,
                // "order": [[6, 'desc']],
                "language": {
                    search: ' ',
                    sLengthMenu: '_MENU_',
                    searchPlaceholder: "Search...",
                    info: "_START_ - _END_ of _TOTAL_ items",
                },
                initComplete: (settings, json)=>{
                    $('.offices_filter').appendTo('#tableSearch');
                    $('.offices_filter').appendTo('.search-input');
                },	
            });
        </script>
        
    </body>
</html>