<!DOCTYPE html>
<html lang="en">

    <!-- Head -->
    <%- include("../partials/head") %>

    <body>
        <div id="global-loader" >
            <div class="whirly-loader"> </div>
        </div>
        <!-- Main Wrapper -->
        <div class="main-wrapper">

            <!-- Header -->
            <%- include("../partials/header") %>

            <div class="page-wrapper">
                <div class="content">
                    <div class="page-header">
						<div class="row">
							<div class="col">
								<h3 class="page-title">Reported Issue</h3>
							</div>
						</div>
					</div>
                    <div class="row">
						<div class="col-lg-2 col-md-12">
							<ul class="inbox-menu">
								<li class="active">
									<a href="/s/devices"><i class="fas fa-print"></i>Devices</a>
								</li>
								<li>
									<a href="/s/users"><i class="fas fa-users"></i>Users</a>
								</li>
								<li>
									<a href="/s/customers"><i class="fas fa-users"></i>Customers</a>
								</li>
								<li>
									<a href="/s/office"><i class="fas fa-home"></i>Office</a>
								</li>
							</ul>
						</div>
						
						<div class="col-lg-10 col-md-12">
							<div class="card bg-white">
								<div class="card-body">

                                    <!--  -->
                                    <div class="table-top">
                                        <div class="search-set"></div>
                                        <div class="wordset">
                                            <ul>
                                                <li>
                                                    <button data-bs-toggle="modal" data-bs-target="#modalReportIssue"
                                                        class="btn btn-sm bg-success text-white">&plus; Report Issue
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div><br>
									<div class="email-content">
										<div class="table-responsive">
											<table class="table table-inbox table-hover reported">
                                                <thead>
                                                    <tr>
                                                        <th>Dev Serial Number</th>
                                                        <th>Reporter Name</th>
                                                        <th>Phone Number</th>
                                                        <th>Time In</th>
                                                        <th>Reported Issue</th>
                                                        <th>Time Out</th>
                                                        <th>Reported Date</th>
                                                        <th>Status</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
												<tbody>
                                                    <%
                                                        let reported = data['data']['reported'];
                                                        for(let r in reported) {
                                                    %>
                                                        <tr>
                                                            <td><%= reported[r]['deviceSerialNumber'] %></td>
                                                            <td><%= reported[r]['reporterName'] %></td>
                                                            <td><%= reported[r]['reporterPhoneNumber'] %></td>
                                                            <td><%= reported[r]['timeIn'] %></td>
                                                            <td><%= reported[r]['reportedIssue'] %></td>
                                                            <td><%= reported[r]['timeOut'] %></td>
                                                            <td><%= reported[r]['reportedDate'] %></td>
                                                            <td>
                                                                <% if(reported[r]['status'] == 'collected'){ %>
                                                                    <span class="text-success" style="font-weight: bold;">COLLECTED</span>
                                                                <% } else { %>
                                                                    <span class="text-danger" style="font-weight: bold;">NOT COLLECTED</span>
                                                                <% } %>
                                                            </td>
                                                            <td></td>
                                                        </tr>
                                                    <% } %>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
                </div>
            </div>
        </div>
        <!-- /Main Wrapper -->

        <!-- Modal report issue -->
        <div class="modal fade" id="modalReportIssue" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Report Issue</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!--  -->
                        <form action="/s/report-issue" method="post">
                            <div>
                                <!--  -->
                                <div class="row">
                                    <div class="col-lg-6 col-sm-6 col-6">
                                        <div class="form-group">
                                            <label>Reporter Name <span class="text-danger">&nbsp;*</span></label>
                                            <input type="text" name="reporterName" placeholder="Full name.." required>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6 col-6">
                                        <div class="form-group">
                                            <label>Phone number <span class="text-danger">&nbsp;*</span></label>
                                            <input type="text" name="phoneNumber" placeholder="Phone number.." required>
                                        </div>
                                    </div>
                                </div>
                                
                                <!--  -->
                                <div class="row">
                                    <div class="col-lg-6 col-sm-6 col-6">
                                        <div class="form-group">
                                            <label>Time In<span class="text-danger">&nbsp;*</span></label>
                                            <input type="text" id="datetimepicker_1" name="timeIn" placeholder="Time in.. eg 00:00" required readonly>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6 col-6">
                                        <div class="form-group">
                                            <label>Time Out<span style="color: silver;">&nbsp;(OPTIONAL)</span></label>
                                            <input type="text" id="datetimepicker_2" name="timeOut" placeholder="Time out.. eg 07:00" readonly>
                                        </div>
                                    </div>
                                </div>
                                
                                <!--  -->
                                <div class="row">
                                    <div class="col-lg-12 col-sm-12 col-12">
                                        <div class="form-group">
                                            <label>Reported Issue <span class="text-danger">&nbsp;*</span></label>
                                            <textarea type="text" name="reportedIssue" placeholder="Reported issue.." required></textarea>
                                        </div>
                                    </div>
                                </div>

                                <!--  -->
                                <div class="row">
                                    <div class="col-lg-6 col-sm-6 col-6">
                                        <div class="form-group">
                                            <label>Reported Date <span class="text-danger">&nbsp;*</span></label>
                                            <div class="input-groupicon">
                                                <input type="date" placeholder="DD-MM-YYYY" class="form-control" name="reportedDate" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6 col-6">
                                        <div class="form-group">
                                            <label>Assigned To <span class="text-danger">&nbsp;*</span></label>
                                            <select class="select form-control" name="assignedTo" required>
                                                <option value="" disabled selected>*** Choose Technician ***</option>
                                                <%
                                                    let technicians = data['data']["technicians"];
                                                    for(let i in technicians) {
                                                %>
                                                    <option value="<%= technicians[i]['id'] %>"><%= technicians[i]['name'] %></option>
                                                <% } %>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <!--  -->
                                <div class="row">
                                    <div class="col-lg-12 col-sm-12 col-12">
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-submit form-control">Submit</button>
                                        </div>
                                    </div>
                                </div>
                                
                                <input name="deviceId" value="<%= data['deviceId'] %>" style="display: none;">
                                <input name="reportedIssueId" id="reportedIssueId" style="display: none">
                            </div>
                        </form>
                        <!--  -->
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal add device -->
        <div class="modal fade" id="modalAddOffice" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add Office</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!--  -->
                        <form action="/s/add-office" method="post">
                            <div class="row">
                                <!--  -->
                                <div class="form-group">
                                    <label>Head (Full Name) <span class="text-danger">&nbsp;*</span></label>
                                    <input type="text" name="head" placeholder="Full name.." required>
                                </div>
                                <!--  -->
                                <div class="form-group">
                                    <label>Head (Phone Number) <span class="text-danger">&nbsp;*</span></label>
                                    <input type="text" name="phoneNumber" placeholder="Phone number.." required>
                                </div>
                                <!--  -->
                                <div class="form-group">
                                    <label>Location (City) <span class="text-danger">&nbsp;*</span></label>
                                    <select class="form-control" name="cityId" required>
                                        <option value="" disabled selected>*** Choose City ***</option>
                                        <% 
                                            let cities = data["cities"];
                                            for(let i in cities) {
                                        %>
                                            <option class="text-uppercase" value="<%= cities[i]['id'] %>"><%= cities[i]['city'] %></option>            
                                        <% } %>
                                    </select>    
                                </div>
                                <!--  -->
                                <div class="form-group">
                                    <label>Location (Address)<span class="text-danger">&nbsp;*</span></label>
                                    <input type="text" name="locationAddress" placeholder="Kimara, Dar es salaam.." required>
                                </div>
                                <!--  -->
                                <div class="form-group">
                                    <button type="submit" class="btn btn-submit form-control">Submit</button>
                                </div>
                                <!--  -->
                                <input name="customerId" id="customerId" style="display: none">
                            </div>
                        </form>
                        <!--  -->
                    </div>
                </div>
            </div>
        </div>

        <!-- Script -->
        <%- include("../partials/script") %>

        <!-- Script -->
        <%- include("../partials/flash") %>
        
        <!-- Script -->
        <%- include("../partials/footer") %>
        
        <script>

			$('#datetimepicker_1').datetimepicker({
                format: 'H:i',
					datepicker: false
			});

			$('#datetimepicker_2').datetimepicker({
                format: 'H:i',
					datepicker: false
			});

            $('.reported').DataTable({
                "bFilter": true,
                "sDom": 'fBtlpi',  
                'pagingType': 'numbers', 
                "ordering": true,
                "order": [[6, 'desc']],
                "language": {
                    search: ' ',
                    sLengthMenu: '_MENU_',
                    searchPlaceholder: "Search...",
                    info: "_START_ - _END_ of _TOTAL_ items",
                },
                initComplete: (settings, json)=>{
                    $('.reported_filter').appendTo('#tableSearch');
                    $('.reported_filter').appendTo('.search-input');
                },	
            });
        </script>
    </body>
</html>